.center {
  display: flex;
  justify-content: center;
  & img {
    height: 400px;
    width: auto;
  }
}

.vertical {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
